<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've signed up on Revision</h1>
    <p>Thanks <%= @user.email %> and have a great day!</p>
  </body>
</html>
