<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Revision!</h1>
    <p>
      <%= @sender.email %>, invited you to collaborate on the Project: <%= @project.title %>.
    </p>
    <p>
      Create an account and collaborate on the project: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>