<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Project to collaborate</h1>
    <p>
      <%= @sender.email %>, invited you to collaborate on the Project: <%= link_to url, @project.title %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>